* {
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	margin: 0px auto;
	background-color: #222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight: bold;
	font-size: 5em;
	color: #fff;
}

.green {
	color: #33b24b;
}

.weight {
	font-size: 1.5em;
}

p {
	margin-bottom: 0;
}

#status {
	transition: all 0.5s ease;
}

.ui-btn {
	/*background-color: #1a5926 !important; */
	
}

.hidden {
	display: none !important;
}

.cp-spinner {
	width: 25px;
	height: 25px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	top: 3px;
	left: 4px;
}

.cp-round:before {
	border-radius: 50%;
	content: " ";
	width: 25px;
	height: 25px;
	display: inline-block;
	box-sizing: border-box;
	border-top: solid 6px #bababa;
	border-right: solid 6px #bababa;
	border-bottom: solid 6px #bababa;
	border-left: solid 6px #bababa;
	position: absolute;
	top: 0;
	left: 0
}

.cp-round:after {
	border-radius: 50%;
	content: " ";
	width: 25px;
	height: 25px;
	display: inline-block;
	box-sizing: border-box;
	border-top: solid 6px #33b24b;
	border-right: solid 6px transparent;
	border-bottom: solid 6px transparent;
	border-left: solid 6px transparent;
	position: absolute;
	top: 0;
	left: 0;
	animation: cp-round-animate 1s ease-in-out infinite
}

@keyframes cp-round-animate { 0%{
	transform: rotate(0)
    }100%{
        transform:rotate(360deg)
    }
}