* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.green {
	color: #33b24b;
}

.weight {
	font-size: 1.5em;
}

p {
	margin-bottom: 0;
}

#status {
	transition: all 0.5s ease;
}

.ui-btn {
	/*background-color: #1a5926 !important; */
}